* {
    padding: 0;
    margin: 0;
    text-align: center;
    color: aliceblue;
    font-size: x-large;    
}

/* First I am going to make a grid   */
/* If I write 'display: grid' it simply do nothing */
/* 'grid-template-columns: auto auto' এটার মানে হলো ২ টা কলাম হবে এবং স্ক্রিনের সাইজ অনুযায়ী সে জায়গা করে নিব। */
/* 'grid-template-rows: 100px auto 100px, এটার মানে হলো ধরা যাক আমাদের কাছে ১২ টা সারি আছে কিন্তু 100px auto 100px মানে প্রথম
    ৩ টা সারির প্রথমটা হবে ১০০পিক্সেলের মানে সারির চওড়া, ২য়টা হবে অটো এবং ৩য়টাও হবে ১০০ পিক্সেলের। */
/* 'grid-row-gap: 5px' মানে হলো শুধুমাত্র সারিতে ৫ পিক্সেল গ্যাপ */
/* 'grid-column-gap: 2px' শুধুমাত্র কলাম বরাবর ২ পিক্সেল গ্যাপ */
/* 'grid-row-gap এবং grid-column-gap এই ২টা মিলে হয়েছে grid-gap যেখানে একাধিক ভেল্যু দেয়া যাবে। যেমন:'grid-gap: 5px 20px' মানে হলো সারিতে ৫পিক্সেল গ্যাপ আর রো বরাবর ২০পিক্সেল গ্যাপ। */
/* 'grid-template-columns: 4fr 6fr' এটার মানে হলো আমি চাইলে স্ক্রিনটাকে ১০ভাগে ভাগ করে নিতে পারি, এখানে 4fr, 6fr এর মানে হলো স্ক্রিনটা ১০ ভাগ হয়ে গেছে এবং প্রথম কলাম ভাগে পেয়েছে 4 ভাগ আর দ্বিতীয় কলাম পেয়ে 6 ভাগ */
/*  fraction unit রো এর বেলায়ও একই */
/* 'grid-template-rows and grid-template-columns না লিখে একবারে শর্টকাট grid-template: 2fr 10fr 20fr / 1fr 3fr; (৬টা কনটেন্ট) এভাবে লিখতে পারি। সেক্ষেত্রে প্রথম ভাগ কাজ করবে রো এর পক্ষে ২য় ভাগ কাজ করবে কলামের পক্ষে। */
/*  আবার ধরা যাক, আমার টোটাল ১২ টা কনটেন্ট আছে এবং আমি চাই ইকুয়ালি ১২টা কলাম ভাগ করতে সেক্ষেত্রে 1fr 1fr 1fr করে ১২ বার না লিখে এর একটা শর্টকাট আছে। আমি যদি লিখি grid-template-column: repeat(12, 1fr) এভাবে লিখলে ১২ বার ১ এফআর করে রিপিট হবে। */
/*  'grid-template: repeat(2, 100px) / repeat(4, 1fr)'; এখানে উদাহরণস্বরূপ ১২ টা কনটেন্ট এর সারির প্রথম ২টা সারি ১০০ পিক্সেলে ভাগ হবে এবং কলাম ৪ ভাগে ভাগ হবে এবং প্রত্যেকটা ভাগ ১ ফ্রাকশন করে পাবে। */


.container {
    display: grid;
    grid-template: repeat(2, 100px) / repeat(4, 1fr);
    
}

#one {
    background-color: green;
}

#two {
    background-color: blue; 
}

#three {
    background-color: red; 
}

#four {
    background-color: navy;
}

#five {
    background-color: olive;
}

#six {
    background-color: blueviolet;
}

#seven {
    background-color: maroon;
}

#eight {
    background-color: green;
}

#nine {
    background-color: violet;
}

#ten {
    background-color: lightcoral;
}

#eleven {
    background-color: royalblue;
}

#twelve {
    background-color: tomato;
}
